.container-nav {
    width: 100vw;
    height: 80px;
    background-color: #0A223D;
    display: flex;
}

.container-nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin-left: 120px;
    margin-right: 120px;
    list-style-type: none;
    height: 100%;
    margin-top: 0;
}

.container-nav ul li {
    display: flex;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
}

.container-nav ul li:hover {
    background-color: #EC1F46;
}

.container-nav ul li a {
    color: #FFFF;
    text-decoration: none;
    font-size: 14px;
    height: 100%;
    display: flex;
    align-items: center;
}