.containerList {
    margin-left: 15%;
    margin-right: 15%;
}

.column {
    width: 100%;
    margin-top: 9%;
    margin-bottom: 12%;
}

.card-list {
    height: 205px;
    background-color: #0A223D; 
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}

.description {
    width: 50%;
    background-color:#0A223D;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
}

.image {
    background-image: url("../../assets/imagens/loading.gif");
    background-position: center;
    width: 50%;
    border-bottom-right-radius:8px; 
    border-top-right-radius:8px;   
}



.desc {
    background-color: #0A223D;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    width: 65%;
    align-items: center;
    border-right: 2px solid #FFFFFF;
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
}

.title {
    word-wrap: break-all;
    display: flex;
    text-align: center;
    margin-top: 22%;
    align-items: center;
    border-top-left-radius:8px;
    border-bottom-right-radius:8px;
    color: #FFFFFF;
    font-size: 22px;
    font-family: 'Montserrat';
    font-weight:bolder;
    white-space: normal;
    padding-right: 10px;
    padding-left: 10px;
}

.visible {
    margin-bottom: 20%;
    text-align: center;
    background-color:#EC1F46;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
    height: 20%;
    width: 65%;
    border-radius: 4px;
    font-family: 'Roboto';
    color: #FFFFFF;
    cursor: pointer;
}

.list-itens {
    background-color: #0A223D;
    color: #FFFFFF;
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
    margin-left: 4%;
    margin-top: 5%;
    width: 100%;
    padding-right: 5px;
    font-family: 'Mulish','Courier New', Courier, monospace;

}

.item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 6%;
}

.item span {
    margin-top: 0;
    margin-left: 2%;
    color: #FFFFFF;
    font-family: 'Mulish';
}
#check {
    color: #FFFFFF;
}

.background {
    background-repeat:no-repeat;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    background-position: center;
}