#oldPassword {
    position: absolute;
    top: 39%;
    right: 5%;
}

#newPassword {
    position: absolute;
    top: 61%;
    right: 5%;
}

#newPasswordRepeat {
    position: absolute;
    top: 83%;
    right: 5%;
}